extends layout

block content
  -data = data || {}


  h1 Trail Work Logging

  if errors
    ul.my-errors
      for error in errors
        li= error.msg

  form(action="/trailupdater" method="POST" class="form-registration")
    label(for="name") Name:
    input(
      type="text"
      id="name"
      name="name"
      class="form-control"
      value=data.name
    )
    label(for="junction1") Trail Start:
    input(
      type="text"
      id="junction1"
      name="junction1"
      class="form-control"
      value=data.junction1
    )

    label(for="junction2") Trail End:
    input(
      type="text"
      id="junction2"
      name="junction2"
      class="form-control"
      value=data.junction2
    )

    label(for="lastWorked") Last Work Date:
    input(
      type="date"
      id="lastWorked"
      name="lastWorked"
      class="form-control"
      value=data.lastWorked
    )

    label(for="comments") Comments:
    input(
      type="comments"
      id="comments"
      name="comments"
      class="form-control"
      value=data.comments
    )

    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )